@charset "utf-8";
/* CSS Document */
.title > h1 {
	font-family: 'Crimson Text', serif;
	margin:20px 0px 10px 0px;
	color:#5B7CB5;
	font-weight:bold;
}
.hours {
	font-family: 'Crimson Text', serif;
	margin-bottom:20px;
}
.hours > div > h3 {
  font-weight:bold;
}
.hours > hr {
	display:none;
	border-top: 1px solid #5B7CB5;
	margin:15px 15%;
}
.map {
	padding:5px;
	margin:0 4px;
	background-color:#5B7CB5;
	height:450px;
}
.thumbnail img {
  width: 100%;
  height: 100%;
}
.thumbnail {
  border: none;
  border-radius: 0;
  margin:30px 0px;
}
.vcenter {
	margin:55px 0 0 0;
}
@media screen and (max-width: 767px) {
.vcenter {
	margin:5px 0;
}
.hours > hr {
	display:block;
}
}
