@charset "utf-8";
/* CSS Document */
.aboutus >h1, .reviews >h1 {
	font-family: 'Crimson Text', serif;
}
.aboutus >h3,.aboutus >p, .reviews >h3 {
	font-family: 'EB Garamond', serif;
}
.aboutus >h1 {
	color:#5B7CB5;
	font-weight:bold;
}
.aboutus >h3 {
  margin-top:0;
}
.aboutus >p {
	font-style:italic;
	color:#58585B;
}
.container-fluid.image {
  padding:0px;
}
.image {
  width:100%;
}
.aboutus {
  padding:0 0 50px 0;
}
.reviews {
  padding:25px 0;
}
.reviews > h1 {
  color:#5B7CB5;
  font-weight:bold;
}
.reviews > h3 {
	color:#58585B;
	font-style:italic;
}
.reviews > hr {
	width:250px;
	border-top:2px solid #E6E7E8;
}
.logo-small {
  color: #5B7CB5;
  font-size: 50px;
}
.logo {
  color: #5B7CB5;
  font-size: 200px;
}
.thumbnail {
  padding:15px;
  border: none;
  border-radius: 0;
  background-color:#E6E7E8;
}
.thumbnail > h2 {
  color:#5B7CB5;
}
.thumbnail:hover, .thumbnail:hover h2  {
  background-color:#5b7cb5;
  color:#ffffff;
}
.thumbnail > h3 {
	font-weight:bold;
	font-family: 'Crimson Text', serif;
}
.tabs > a:hover, .tabs > a:focus {
	text-decoration:none;
}
.tabs > a:focus {
	color:#5B7CB5;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.item span {
  font-style: normal;
}
@media screen and (max-width: 767px) {
.aboutus {
  padding:20px 0px;
}
}