@charset "utf-8";
/* CSS Document */
.pgraph {
  margin-top:25px;
  font-family: 'EB Garamond', serif;
}
.pgraph > h4 {
	line-height:1.6;
    font-weight:600;
}
.pgraph > h4:last-of-type {
  color:#BBBDC0;
}
.pgraph > h3 {
	font-family: 'Crimson Text', serif;
	font-weight:bold;
}
