@charset "utf-8";
/* CSS Document */
.thumbnail img {
  width: 100%;
  height: 100%;
}
.thumbnail {
  border: none;
  border-radius: 0;
  margin:20px 0px;
}
.title > h1 {
	font-family: 'Crimson Text', serif;
	margin:20px 0px 0px 0px;
	color:#5B7CB5;
	font-weight:bold;
}
.title > h3 {
	font-family: 'EB Garamond', serif;
	font-style:italic;
	margin:0px;
}
.menu > h1 {
  font-family: 'Crimson Text', serif;
  margin:20px 0px 30px 0px;
}
.menu > h2 {
  font-family: 'Crimson Text', serif;
  margin:20px 0px 20px 0px;
}
.menu > h3 {
  font-family: 'Crimson Text', serif;
  margin:0px;
}
.menu > h4 {
  font-family: 'EB Garamond', serif;
  font-style:italic;
}
.menu > h5 {
  font-family: 'EB Garamond', serif;
  font-style:italic;
  margin:0px;
}
.menu > p {
  font-style:italic;
}
.nobtmmargin {
  margin:20px 0px 0px 0px!important;
}
.wbtmmargin {
  margin:5px 0px 20px 0px;
}
@media screen and (max-width: 767px) {
.drinks {
  margin:0 0 30px 0;
}
}


